$header-height: 60px;
$header-margin-top: 20px;
$header-full-height: $header-height + $header-margin-top * 2;
$padding-left: 80px;
.header {
    // display: none !important;
    height: $header-height;
    width: 77%;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    padding-top: 0;
    margin-bottom: $header-margin-top;
    nav {
        width: 100%;
        padding: 0 0 0 245px;
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ul {
            list-style: none;
            display: flex;
            gap: 60px;
            align-items: center;
            margin: 0;
            // padding-left: $padding-left;
            width: calc(100% - $sidebar-width);
            position: relative;
            li {
                padding: 0;
                white-space: nowrap;
                position: relative;
                cursor: pointer;
                transition: all 0.3s ease;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background: linear-gradient(158deg, rgba(255,92,253,1) 0%, rgba(239,216,255,1) 50%, rgba(175,179,255,1) 100%);
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                    transform: translateY(-2px);

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .gift-icon {
            *position: absolute;
            right: 30px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: linear-gradient(158deg, rgba(255,92,253,1) 0%, rgba(239,216,255,1) 50%, rgba(175,179,255,1) 100%);
            cursor: pointer;
            transition: transform 0.3s ease;
            i {
                color: #000000;
                font-size: 1.2rem;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
