$sidebar-width: 250px;
$bg-sidebar: #0a0a0a;
$text-color: #fff;
$padding-left: 20px;
$padding-top: 20px;

.sidebar {
    width: calc($sidebar-width - $padding-left);
    height: calc(100vh - $padding-top);
    background-color: $bg-sidebar;
    position: fixed;
    top: $padding-top/2;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: $padding-top;
    margin-top: $padding-top;
    color: $text-color;
    border-radius: 20px;
    margin-left: 15px;
    z-index: 1000;
    *display: none;
    .sidebar-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .box {
            width: 100%;
            padding: 5px;
            text-align: center;
            border-radius: 8px;
            h2{
                font-size: 1.5rem;
                text-align: left;
                display: block;
                margin: 0;
                margin-left: 10px;
            }
            .logo{
                width: 30%;
                border-radius: 8px;           
            }
            
            .img-personal{
                width: 100%;
                border-radius: 8px;
                margin-bottom: 20px;
            }
            p{
                margin: 0;
                margin-top: 10px;
                font-size: .8rem;
                text-align: left;
            }
            h3{
                font-size: 1rem;
                text-align: left;
            }
        }
        .box:nth-child(2){
            margin-bottom: 20px;
        }
        .redes{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            margin-top: 20px;
            .redes-btns{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;
                a{

                    width: 50px;
                    height: auto;
                    color: $text-color;
                    font-size: 1.5rem;
                    transition: all .3s;
                    &:hover{
                        color: #ff0000;
                    }
                    img{
                        width: 50%;
                        height: auto;
                        color: #ffffff;
                    }
                }
            }
            button{
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 20px;
                background: rgb(255,92,253);
                background: linear-gradient(158deg, rgba(255,92,253,1) 0%, rgba(239,216,255,1) 50%, rgba(175,179,255,1) 100%);
                color: #000000;
                font-size: .9rem;
                font-weight: bold;
                transition: all .3s;
                &:hover{
                    background-color: #ff3333;
                }
            }
        }
        
    }
}
