footer{
    margin: 5vw;
    padding: 1vm;
    color: blanchedalmond;

    div{
        div{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 3em;

                #divredes{
                    a {
                        text-decoration: none;
                        margin: 5px 3px;
                        color: chocolate;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        p{
                            font-size: 1.5em !important;

                        }
                    }
                }
                
            }
            #divtitulo, #divtitulofinal{
                margin: 3em 0;
            }
        }
    }
}
