footer{
    margin: 3vw;
    margin-top: 0;
    padding: 1vw;
    padding-top: 0;
    color: blanchedalmond;

    div{
        div{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #divredes{
                    a {
                        text-decoration: none;
                        margin: 0.2vh 0.2vh;
                        padding-top: 5vh;

                        color: chocolate;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 2.5vw;
                            height: auto;
                        }
                        p{
                            font-size: 2.8vh;
                        }
                    }
                }
                
            }
            #divtitulofinal{
                padding-top: 4vh;
            }
            #divtitulo{
                padding-bottom: 4vh;
            }
        }
    }
}
