$maincolor: rgb(20, 20, 36);
$seccolor: blanchedalmond;

main{
    //font-family: 'BioRhyme', serif;
    //font-family: 'Nunito', sans-serif;
    //font-family: 'Anton', sans-serif;
    
    color: $seccolor;
    overflow-x: hidden;

    #ppal{
        position: relative;
        // .bienvenida{
        //     position: absolute;

        //     font-family: 'Anton', sans-serif;
        //     font-size: 30px;
        //     font-weight: 3px;
        //     font-style: italic;
        //     text-align: center;
        //     margin: auto;
        // }
        // span{
        //     opacity: 0;
        //     transition: all 1s ease;
            
        // }
        // span.fade {
        //     opacity: 1;
            
        // }
        
    }


    #sec{
        margin: 5vw;
        padding: 1vm;
        #section0{
            padding-top: 0vh;
        }
        #section1{
            position: relative;
            margin: 10vh 0 10vh 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .noche{
                position: absolute;
                width: 100%;
                height: 100%;
                transform: rotateZ(25deg);
            }
            .estrella{
                position: absolute;
                left: 50%;
                top: 50%;
                height: 1px;
                width: 50px;
                background: linear-gradient(-45deg, #ffffffbe, rgba(0,0,255,0));
                border-radius: 999px;
                filter: drop-shadow(0 0 6px #ffffffe5);
                animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
                opacity: 0;
            }
            
            @keyframes tail{
                0%{
                width: 0px;
                }
                30%{
                width: 100px;
                opacity: 1;
            
                }
                100%{
                width: 0px;
                }
            
            }
            @keyframes falling{
                0%{
                transform: translateX(0);
                }
                100%{
                transform: translateX(300px);
            
                }
            
            }
            
            .estrella::before, .estrella::after{
                content: '';
                position: absolute;
                top:calc(50% - 1px);
                right: 0;
                height: .5px;
                width: 0px;
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.582), #fafafa);
                border-radius: 100%;
                transform: translateX(50%) rotateZ(45deg);
                animation: shining 3s ease-in-out infinite;
                opacity: 0;
            }
            @keyframes shining {
                0%{
                width: 0px;
                height: .5px;
                }
                30%{
                width: 4px;
                height: 1px;
                opacity: 1;
            
                }
                100%{
                width: 0px;
                height: .5px;
            
                }
            }
            
            .estrella::after{
                transform: translateX(50%) rotateZ(-45deg);
                
            }
            .estrella:nth-child(1){
                top: calc(50% - 30vw);
                left: calc(50% - 0vw);
                animation-delay: 2s;
            }
            .estrella:nth-child(1)::before, .estrella:nth-child(1)::after{
                animation-delay: 2s;
            }
            .estrella:nth-child(2){
                top: calc(50% - 0vw);
                left: calc(50% - 45vw);
                animation-delay: 3.2s;
            }
            .estrella:nth-child(2)::before, .estrella:nth-child(2)::after{
                animation-delay: 3.2s;
            }
            .estrella:nth-child(3){
                top: calc(50% - 14vw);
                left: calc(50% - 19vw);
                animation-delay: 4.4s;
            }
            .estrella:nth-child(3)::before, .estrella:nth-child(3)::after{
                animation-delay: 4.4s;
            }
            .estrella:nth-child(4){
                top: calc(50% - 0vw);
                left: calc(50% - 3vw);
                animation-delay: 5.6s;
            }
            .estrella:nth-child(4)::before, .estrella:nth-child(4)::after{
                animation-delay: 5.6s;
            }
            .estrella:nth-child(5){
                top: calc(50% - -20vw);
                left: calc(50% - 48vw);
                animation-delay: 6.8s;
            }
            .estrella:nth-child(5)::before, .estrella:nth-child(5)::after{
                animation-delay: 6.8s;
            }

            #nombreintro{
                word-spacing: 1vw;
                letter-spacing: 0;
                cursor: pointer;
                
                #nicolas{
                    font-weight: 900;
                    p{
                        display: inline-block;
                    }

                }
                #borsari{
                    margin: 0px 0 0 11vw;
                    font-weight: 900;
                    p{
                        display: inline-block;
                    }
                }
                .sombra{
                    text-shadow: -0.06em 0 0px #19fff3;
                    color: #EE1D52;
                }
                .chica{
                    font-size: 8vw;
                    font-weight: 300px;
                }
                
            }
            #videointro{
                // position: absolute;
                // right: 10vw;
                // bottom: 5vh;
                .box{
                    transition: transform 1s;
                    cursor: pointer;
                }
            }
            #videointro:hover{
                transform: scale(1.1);
            }
            
        }
        #sec-scr{
            width: 100%;
            
        }
        #section2{
            padding: 3em 0 5em 0;
            #contenedor2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                #presentacion{
                    padding-left: 3vw;
                    #divabout{
                        
                        p{
                            width: 40vw;
                            height: auto;
                            padding-right: 3vw;

                        }
                        #parrafo1{
                            color: seagreen;
                        }
                        #parrafo2{
                            color: rgb(216, 216, 216);
                            font-style: none;
                            font-size: 1.2rem !important;
                            font-weight: 100;
    
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                        }
                        #parrafo3{
                            color: seagreen;
                            font-size: 1.2rem !important;
                            font-weight: 100;
    
                        }
                        #parrafo4{
                            color: rgb(216, 216, 216);
                            font-style: none;
                            font-size: 1.2rem !important;
                            font-weight: 100;
    
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            
                        }
                        div{
                            margin-bottom: 30px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            #logosass, #logogithub{
                                transform: translateX(-15px);
                            }
                            #logogit{
                                transform: translateX(-31px);
                            }
                        }
                    }
                }
                
                #imagen{
                    opacity: 0.5;                  
                    transition: 0.5s ease;
                    img{
                        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
                    }
                }
                #imagen:hover{
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
        #section3{
            padding: 5em 0 5em 0;
            padding-top: 3em;
            #divproyectos{
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                --parentwidth:85vw; //0.85*1440px=    1224px
                --parentheight:35vw; // 0.35*1440px=   504px
                #proyectouno, #proyectodos{
                    margin: 2vh 0 2vh 0;
                    position: relative;
                    width: var(--parentwidth);
                    height: var(--parentheight);
                    border: none;
                    box-shadow: 0 0 10px 5px black;
                }
                #proyectouno{
                    background: url(../imgs/section3/fondo1.jpg); //1200px-500px
                    // background-color: rgb(202, 198, 198);
                    background-blend-mode: screen;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                #proyectodos{
                    background: url(../imgs/section3/sunny2_opt.jpg); //1200px-536px
                    background-color: rgb(149, 147, 147);
                    background-blend-mode: screen;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                div{
                    .bloquetexto{
                        position: absolute;
                        bottom: calc(var(--parentheight)*0.05);
                        left: calc(var(--parentwidth)*0.02);
                        top: calc(var(--parentheight)*0.05);
                        right: calc(var(--parentwidth)*0.02);
                        text-align: left;
                        
                        background: rgba(255, 255, 255, 0.719);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }  
                    
                    div{
                        transform: translateX(30vw);
                        opacity: 0;
                        transition: all .5s;
                        div{
                            transform: translate(-30vw);
                            opacity: 0;
                            transition: all .5s;
                            span{
                                font-family: 'Heebo', sans-serif;
                                //font-family: 'Work Sans', sans-serif;
                                font-size: 3vw;
                                text-transform: uppercase;
                                font-weight: 800 !important;
                                color: rgb(0, 0, 0);
                                margin-left: calc(var(--parentwidth)*0.01);

        
                            }
                            p{
                                font-weight: 100px;
                                color: black;
                                margin-left: calc(var(--parentwidth)*0.01);

                            }
                            div{
                                
                                a{
                                    text-decoration: none;
                                    color: white;
                                    background: linear-gradient(270deg, rgba(246,123,123,1) -14%, rgba(218,63,36,1) 100%);
            
                                    margin: 0.7vw 1.3vw 0.7vw 1.3vw;
                                    padding: 0.7vw 1.3vw 0.7vw 1.3vw;

                                    text-align: center;
                                    font-family: 'Heebo', sans-serif;
                                    font-size: 1vw;
                                    letter-spacing: 1px !important;
                                    font-style: normal;
                                }
                            }
                            
                        }
                        
                    }
                    
                }
                div:hover {
                    div{
                        div{
                            transform: translate(0, -1vh);
                            opacity: 1;
                            overflow: hidden;
                        }
                    }
                }
                div:hover div{
                    transform: translateX(0);
                    opacity: 1;
                    overflow: hidden;
                }
            }
        }
        #section4{
            padding: 5em 0 5em 0;
            padding-top: 3em;
            #divhistoria{
                margin-left: 3em;
                p{
                    margin-bottom: 0;
                    margin-left: .5em;

                }
            }
        }

    }
    
}


//Inicio CLASES

//=== section 0
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #EE1D52;
    // position: absolute;
    transform: translate(0vw, 0vh);
    left: 50%;
    bottom: 1%;
    border-radius: 50px;
    cursor: pointer;
    margin: auto;
}
.scroll-down::before,.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #19fff3;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -90%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .5s;

}
//=== section 1, 2 y 3
.goma{
    font-size: 50px;
}
.goma:hover{
    display:inline-block;
    animation: goma 1s;
}
.fontapodo{
    color: rgb(199, 197, 193) !important;
    font-family: 'Roboto', sans-serif;
    font-size: .7vw;
    opacity: .7;
}
.fontnombre{
    font-family: 'Antonio', sans-serif;
    font-family: 'Castoro', serif;
    font-size: 10vw;
    font-weight: 300px;
}
.titulo{
    font-family: 'Antonio', sans-serif;
    margin-bottom: 1em;
}
.textos{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5vw;
    font-style: italic;
    line-height: 3.2rem;
}
.contieneimg{
    
    width: 300px;
    height: 400px;
    background: url(../imgs/section1/portada.jpg);
    box-shadow: inset 0 0 15px 10px whitesmoke, 0 0 15px 16px #011a2a;
}

.animadoX, .animadoXd{
    opacity: 0;
    transition: all 3s;

}
.animado{
    opacity: 0;
    transition: all 5s;
}
.animadoXa{
    opacity: 0;
    transition: all 4s;
}
.mostrarIzquierda{
    animation: mostrarIzq 2s;
}
.mostrarDerecha{
    animation: mostrarDer 3s ease-in-out;
}

// .box{
//     position: relative;
//     width: 100px;
//     height: auto;
//     transform-style: preserve-3d;
//     animation: animate 20s linear infinite;
// }
// .box span{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 200%;
//     height: 100%;
//     transform-origin: center;
//     transform-style: preserve-3d;
//     transform: rotateY(calc(var(--i) * 90deg)) translateZ(100px);
// }
// @keyframes animate{
//     0%{
//         transform: perspective(1000px) rotateY(0deg);
//     }
//     100%{
//         transform: perspective(1000px) rotateY(360deg);
//     }
// }
// .box span img{
//     position: absolute;
//     top: 10vh;
//     left: 0;
//     object-fit: cover;
// }
//===section 4 ===
.imag{
    position:relative;
    width: 200px;
}
.imag_img{
    display: block;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    transform: translate(-25%, 25%);
    margin: auto;
}
.imag_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: chocolate;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
    opacity: 0;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;

    
}
.imag:hover .imag_overlay{
    transform: translateX(150px);
    opacity: 1;
}
.imag_description{
    font-size: 4vh;
    text-align: left;
    width: 65vw;
    height: auto;
    font-family: 'Open Sans Condensed', sans-serif;

}
.contenedorimg{
    transition: transform 1s ease;

}
.contenedorimg:hover{
    transform: scale(1.05);

}
//=== footer
.mostrarAbajo{
    animation: mostrarAba 2s;
}

//===interfases===
.contenedor{
    padding: 10px;
}
.lineas{
    width: 80%;
    margin: auto;
    height: 70px;
    position: relative;
    
}
.lineas::after, .lineas::before{
    content:'';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 45%;
    top: 50%;
}
.lineas::after{
    left: -100px;
}
.lineas::before{
    right: -100px;
}
.anchof{
    height: 200px;
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(245, 222, 179, 0.767);
    box-shadow: 0 0 15px 5px rgba(82, 82, 82, 0.904);
    
    display: inline-block;
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding:3%
}
.textoint{
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: chocolate;

}
#forma1{
    height: 50px;
    width: 50px;
    box-shadow: 0 0 15px 1px rgba(59, 59, 59, 0.623);
    background: #e91e2f;
    color: $maincolor;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#forma1::before{
    content: '';
    height: 50px;
    width: 50px;
    border: none;
    background: $maincolor;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: 2s ease-out;

}
#forma1::after{
    content: 'Si se puede imaginar, se puede programar';
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 2rem;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0;
}
#forma1:hover::before{
    transform:  scale(2);
    opacity: 1;
}
#forma1:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#forma2{
    height: 50px;
    width: 50px;
    box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
    background: #e0d4d5;
    color: $maincolor;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#forma2::before{
    content: '';
    height: 50px;
    width: 50px;
    border: none;
    background: $maincolor;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: 2s ease-out;

}
#forma2::after{
    content: 'Fine...I do it myself';
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 2rem;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0;
}
#forma2:hover::before{
    transform:  scale(2);
    opacity: 1;
}
#forma2:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#forma3{
    height: 50px;
    width: 50px;
    box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
    background: chocolate;
    color: $maincolor;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#forma3::before{
    content: '';
    height: 50px;
    width: 50px;
    border: none;
    background: $maincolor;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: 2s ease-out;

}
#forma3::after{
    content: '4 8 15 16 23 42';
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 2rem;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;    
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0;
}
#forma3:hover::before{
    transform:  scale(2);
    opacity: 1;
}
#forma3:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#forma4{
    height: 50px;
    width: 50px;
    box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
    background: #28a347;
    color: $maincolor;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#forma4::before{
    content: '';
    height: 50px;
    width: 50px;
    border: none;
    background: $maincolor;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: 2s ease-out;

}
#forma4::after{
    content: url(../imgs/benice.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 2rem;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0;
}
#forma4:hover::before{
    transform:  scale(2);
    opacity: 1;
}
#forma4:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#icono{
    margin: 15px 0;
    transform: scale(1.3);
}

//Fin CLASES

//Inicio ANIMACIONES
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
@keyframes goma{
    0%{
        transform: scale3d(1,1,1);
        
    }
    35%{
        transform: scale3d(1.25,.75,1);
        color: chocolate;
    }
    45%{
        transform: scale3d(.75,1.1,1);
        color: chocolate;
    }
    60%{
        transform: scale3d(1.2,.8,1);
        color: chocolate;
    }
    75%{
        transform: scale3d(.80,.95,1);
        color: chocolate;
    }
    85%{
        transform: scale3d(1.1,.85,1);
        color: chocolate;
    }
    95%{
        transform: scale3d(.90,.99,1);
        color: chocolate;
    }
    100%{
        transform: scale3d(1,1,1);
        color: chocolate;

    }
}

@keyframes mostrarIzq{
    0% {
        transform: translateX(-120px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes mostrarDer{
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes mostrarAba{
    0% {
        transform: translateY(1200px);
    }
    100% {
        transform: translateX(0px);
    }
}

//Fin ANIMACIONES