@import "index";
@import "mediaquery";
html{

    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    body{

        // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(253,187,45,1) 100%);
        background: radial-gradient(ellipse at bottom, #01395c, #111);
        // background: rgb(20, 20, 36)001e31;
    }
}