header {
  padding: 0; }
  header div nav a {
    padding-left: 1em;
    display: inline-block;
    text-decoration: none; }

.colorclaro {
  color: #c7c5c1 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;
  opacity: .7; }

.menu {
  position: fixed;
  right: 2em;
  z-index: 10;
  text-align: right;
  transform: rotate(-90deg);
  transform-origin: bottom right; }

main {
  color: blanchedalmond;
  overflow-x: hidden; }
  main #ppal {
    position: relative; }
  main #sec {
    margin: 5vw;
    padding: 1vm; }
    main #sec #section0 {
      padding-top: 0vh; }
    main #sec #section1 {
      position: relative;
      margin: 10vh 0 10vh 0;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      main #sec #section1 .noche {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateZ(25deg); }
      main #sec #section1 .estrella {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 1px;
        width: 50px;
        background: linear-gradient(-45deg, #ffffffbe, rgba(0, 0, 255, 0));
        border-radius: 999px;
        filter: drop-shadow(0 0 6px #ffffffe5);
        animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
        opacity: 0; }

@keyframes tail {
  0% {
    width: 0px; }
  30% {
    width: 100px;
    opacity: 1; }
  100% {
    width: 0px; } }

@keyframes falling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(300px); } }
      main #sec #section1 .estrella::before, main #sec #section1 .estrella::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        height: .5px;
        width: 0px;
        background: linear-gradient(-45deg, rgba(255, 255, 255, 0.582), #fafafa);
        border-radius: 100%;
        transform: translateX(50%) rotateZ(45deg);
        animation: shining 3s ease-in-out infinite;
        opacity: 0; }

@keyframes shining {
  0% {
    width: 0px;
    height: .5px; }
  30% {
    width: 4px;
    height: 1px;
    opacity: 1; }
  100% {
    width: 0px;
    height: .5px; } }
      main #sec #section1 .estrella::after {
        transform: translateX(50%) rotateZ(-45deg); }
      main #sec #section1 .estrella:nth-child(1) {
        top: calc(50% - 30vw);
        left: calc(50% - 0vw);
        animation-delay: 2s; }
      main #sec #section1 .estrella:nth-child(1)::before, main #sec #section1 .estrella:nth-child(1)::after {
        animation-delay: 2s; }
      main #sec #section1 .estrella:nth-child(2) {
        top: calc(50% - 0vw);
        left: calc(50% - 45vw);
        animation-delay: 3.2s; }
      main #sec #section1 .estrella:nth-child(2)::before, main #sec #section1 .estrella:nth-child(2)::after {
        animation-delay: 3.2s; }
      main #sec #section1 .estrella:nth-child(3) {
        top: calc(50% - 14vw);
        left: calc(50% - 19vw);
        animation-delay: 4.4s; }
      main #sec #section1 .estrella:nth-child(3)::before, main #sec #section1 .estrella:nth-child(3)::after {
        animation-delay: 4.4s; }
      main #sec #section1 .estrella:nth-child(4) {
        top: calc(50% - 0vw);
        left: calc(50% - 3vw);
        animation-delay: 5.6s; }
      main #sec #section1 .estrella:nth-child(4)::before, main #sec #section1 .estrella:nth-child(4)::after {
        animation-delay: 5.6s; }
      main #sec #section1 .estrella:nth-child(5) {
        top: calc(50% - -20vw);
        left: calc(50% - 48vw);
        animation-delay: 6.8s; }
      main #sec #section1 .estrella:nth-child(5)::before, main #sec #section1 .estrella:nth-child(5)::after {
        animation-delay: 6.8s; }
      main #sec #section1 #nombreintro {
        word-spacing: 1vw;
        letter-spacing: 0;
        cursor: pointer; }
        main #sec #section1 #nombreintro #nicolas {
          font-weight: 900; }
          main #sec #section1 #nombreintro #nicolas p {
            display: inline-block; }
        main #sec #section1 #nombreintro #borsari {
          margin: 0px 0 0 11vw;
          font-weight: 900; }
          main #sec #section1 #nombreintro #borsari p {
            display: inline-block; }
        main #sec #section1 #nombreintro .sombra {
          text-shadow: -0.06em 0 0px #19fff3;
          color: #EE1D52; }
        main #sec #section1 #nombreintro .chica {
          font-size: 8vw;
          font-weight: 300px; }
      main #sec #section1 #videointro .box {
        transition: transform 1s;
        cursor: pointer; }
      main #sec #section1 #videointro:hover {
        transform: scale(1.1); }
    main #sec #sec-scr {
      width: 100%; }
    main #sec #section2 {
      padding: 3em 0 5em 0; }
      main #sec #section2 #contenedor2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        main #sec #section2 #contenedor2 #presentacion {
          padding-left: 3vw; }
          main #sec #section2 #contenedor2 #presentacion #divabout p {
            width: 40vw;
            height: auto;
            padding-right: 3vw; }
          main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
            color: seagreen; }
          main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
            color: #d8d8d8;
            font-style: none;
            font-size: 1.2rem !important;
            font-weight: 100;
            padding-top: 1rem;
            padding-bottom: 1rem; }
          main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
            color: seagreen;
            font-size: 1.2rem !important;
            font-weight: 100; }
          main #sec #section2 #contenedor2 #presentacion #divabout #parrafo4 {
            color: #d8d8d8;
            font-style: none;
            font-size: 1.2rem !important;
            font-weight: 100;
            padding-top: 1rem;
            padding-bottom: 1rem; }
          main #sec #section2 #contenedor2 #presentacion #divabout div {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            main #sec #section2 #contenedor2 #presentacion #divabout div #logosass, main #sec #section2 #contenedor2 #presentacion #divabout div #logogithub {
              transform: translateX(-15px); }
            main #sec #section2 #contenedor2 #presentacion #divabout div #logogit {
              transform: translateX(-31px); }
        main #sec #section2 #contenedor2 #imagen {
          opacity: 0.5;
          transition: 0.5s ease; }
          main #sec #section2 #contenedor2 #imagen img {
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
        main #sec #section2 #contenedor2 #imagen:hover {
          opacity: 0.9;
          cursor: pointer; }
    main #sec #section3 {
      padding: 5em 0 5em 0;
      padding-top: 3em; }
      main #sec #section3 #divproyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        --parentwidth:85vw;
        --parentheight:15vw; }
        main #sec #section3 #divproyectos #proyectouno, main #sec #section3 #divproyectos #proyectodos, main #sec #section3 #divproyectos #proyectotres {
          margin: 2vh 0 2vh 0;
          position: relative;
          width: var(--parentwidth);
          height: var(--parentheight);
          border: none;
          box-shadow: 0 0 10px 5px black; }
        main #sec #section3 #divproyectos #proyectouno {
          background: url(../imgs/section3/fondo1.jpg);
          background-blend-mode: screen;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        main #sec #section3 #divproyectos #proyectodos {
          background: url(../imgs/section3/sunny2_opt.jpg);
          background-blend-mode: screen;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        main #sec #section3 #divproyectos #proyectotres {
          background: url(../imgs/section3/Pizza_opt.jpg);
          background-blend-mode: screen;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        main #sec #section3 #divproyectos div .bloquetexto {
          position: absolute;
          bottom: calc(var(--parentheight)*0.05);
          left: calc(var(--parentwidth)*0.02);
          top: calc(var(--parentheight)*0.05);
          right: calc(var(--parentwidth)*0.02);
          text-align: left;
          background: rgba(255, 255, 255, 0.719);
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
        main #sec #section3 #divproyectos div div {
          transform: translateX(30vw);
          opacity: 0;
          transition: all .5s; }
          main #sec #section3 #divproyectos div div div {
            transform: translate(-30vw);
            opacity: 0;
            transition: all .5s;
            padding-top: 10px !important; }
            main #sec #section3 #divproyectos div div div span {
              font-family: 'Heebo', sans-serif;
              font-size: 3vw;
              text-transform: uppercase;
              font-weight: 800 !important;
              color: black;
              margin-left: calc(var(--parentwidth)*0.01); }
            main #sec #section3 #divproyectos div div div p {
              font-weight: 100px;
              color: black;
              margin-left: calc(var(--parentwidth)*0.01);
              margin-bottom: 0 !important; }
            main #sec #section3 #divproyectos div div div div a {
              text-decoration: none;
              color: white;
              background: linear-gradient(270deg, #f67b7b -14%, #da3f24 100%);
              margin: 0.7vw 1.3vw 0.7vw 1.3vw;
              padding: 0.7vw 1.3vw 0.7vw 1.3vw;
              text-align: center;
              font-family: 'Heebo', sans-serif;
              font-size: 1vw;
              letter-spacing: 1px !important;
              font-style: normal; }
        main #sec #section3 #divproyectos div:hover div div {
          transform: translate(0, -1vh);
          opacity: 1;
          overflow: hidden; }
        main #sec #section3 #divproyectos div:hover div {
          transform: translateX(0);
          opacity: 1;
          overflow: hidden; }
    main #sec #section4 {
      padding: 5em 0 5em 0;
      padding-top: 3em; }
      main #sec #section4 #divhistoria {
        margin-left: 3em; }
        main #sec #section4 #divhistoria p {
          margin-bottom: 0;
          margin-left: .5em; }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #EE1D52;
  transform: translate(0vw, 0vh);
  left: 50%;
  bottom: 1%;
  border-radius: 50px;
  cursor: pointer;
  margin: auto; }

.scroll-down::before, .scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #19fff3;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -90%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite; }

.scroll-down::after {
  top: 30%;
  animation-delay: .5s; }

.goma {
  font-size: 50px; }

.goma:hover {
  display: inline-block;
  animation: goma 1s; }

.fontapodo {
  color: #c7c5c1 !important;
  font-family: 'Roboto', sans-serif;
  font-size: .7vw;
  opacity: .7; }

.fontnombre {
  font-family: 'Antonio', sans-serif;
  font-family: 'Castoro', serif;
  font-size: 10vw;
  font-weight: 300px; }

.titulo {
  font-family: 'Antonio', sans-serif;
  margin-bottom: 1em; }

.textos {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5vw;
  font-style: italic;
  line-height: 3.2rem; }

.contieneimg {
  width: 300px;
  height: 300px;
  background: url(../imgs/section1/Captura2.png);
  background-repeat: no-repeat;
  background-size: contain; }

.animadoX, .animadoXd {
  opacity: 0;
  transition: all 3s; }

.animado {
  opacity: 0;
  transition: all 5s; }

.animadoXa {
  opacity: 0;
  transition: all 4s; }

.mostrarIzquierda {
  animation: mostrarIzq 2s; }

.mostrarDerecha {
  animation: mostrarDer 3s ease-in-out; }

.imag {
  position: relative;
  width: 200px; }

.imag_img {
  display: block;
  width: 100%;
  height: auto;
  top: 0%;
  left: 0%;
  transform: translate(-25%, 25%);
  margin: auto; }

.imag_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: chocolate;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out; }

.imag:hover .imag_overlay {
  transform: translateX(150px);
  opacity: 1; }

.imag_description {
  font-size: 4vh;
  text-align: left;
  width: 65vw;
  height: auto;
  font-family: 'Open Sans Condensed', sans-serif; }

.contenedorimg {
  transition: transform 1s ease; }

.contenedorimg:hover {
  transform: scale(1.05); }

.mostrarAbajo {
  animation: mostrarAba 2s; }

.contenedor {
  padding: 10px; }

.lineas {
  width: 80%;
  margin: auto;
  height: 70px;
  position: relative; }

.lineas::after, .lineas::before {
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 45%;
  top: 50%; }

.lineas::after {
  left: -100px; }

.lineas::before {
  right: -100px; }

.anchof {
  height: 200px; }

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.circulo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(245, 222, 179, 0.767);
  box-shadow: 0 0 15px 5px rgba(82, 82, 82, 0.904);
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%; }

.textoint {
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 900;
  color: chocolate; }

#forma1 {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 15px 1px rgba(59, 59, 59, 0.623);
  background: #e91e2f;
  color: #141424;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative; }

#forma1::before {
  content: '';
  height: 50px;
  width: 50px;
  border: none;
  background: #141424;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 2s ease-out; }

#forma1::after {
  content: 'Si se puede imaginar, se puede programar';
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  color: chocolate;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 70px;
  text-shadow: .1rem .1rem .1rem #333;
  transition: 2s ease-out;
  opacity: 0; }

#forma1:hover::before {
  transform: scale(2);
  opacity: 1; }

#forma1:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }

#forma2 {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
  background: #e0d4d5;
  color: #141424;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative; }

#forma2::before {
  content: '';
  height: 50px;
  width: 50px;
  border: none;
  background: #141424;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 2s ease-out; }

#forma2::after {
  content: 'Fine...I do it myself';
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  color: chocolate;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 70px;
  text-shadow: .1rem .1rem .1rem #333;
  transition: 2s ease-out;
  opacity: 0; }

#forma2:hover::before {
  transform: scale(2);
  opacity: 1; }

#forma2:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }

#forma3 {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
  background: chocolate;
  color: #141424;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative; }

#forma3::before {
  content: '';
  height: 50px;
  width: 50px;
  border: none;
  background: #141424;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 2s ease-out; }

#forma3::after {
  content: '4 8 15 16 23 42';
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  color: chocolate;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 70px;
  text-shadow: .1rem .1rem .1rem #333;
  transition: 2s ease-out;
  opacity: 0; }

#forma3:hover::before {
  transform: scale(2);
  opacity: 1; }

#forma3:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }

#forma4 {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 15px 1px rgba(70, 69, 69, 0.623);
  background: #28a347;
  color: #141424;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative; }

#forma4::before {
  content: '';
  height: 50px;
  width: 50px;
  border: none;
  background: #141424;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 2s ease-out; }

#forma4::after {
  content: url(../imgs/benice.jpg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  color: chocolate;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 70px;
  text-shadow: .1rem .1rem .1rem #333;
  transition: 2s ease-out;
  opacity: 0; }

#forma4:hover::before {
  transform: scale(2);
  opacity: 1; }

#forma4:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }

#icono {
  margin: 15px 0;
  transform: scale(1.3); }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 90%; } }

@keyframes goma {
  0% {
    transform: scale3d(1, 1, 1); }
  35% {
    transform: scale3d(1.25, 0.75, 1);
    color: chocolate; }
  45% {
    transform: scale3d(0.75, 1.1, 1);
    color: chocolate; }
  60% {
    transform: scale3d(1.2, 0.8, 1);
    color: chocolate; }
  75% {
    transform: scale3d(0.8, 0.95, 1);
    color: chocolate; }
  85% {
    transform: scale3d(1.1, 0.85, 1);
    color: chocolate; }
  95% {
    transform: scale3d(0.9, 0.99, 1);
    color: chocolate; }
  100% {
    transform: scale3d(1, 1, 1);
    color: chocolate; } }

@keyframes mostrarIzq {
  0% {
    transform: translateX(-120px); }
  100% {
    transform: translateX(0px); } }

@keyframes mostrarDer {
  0% {
    transform: translateX(1200px); }
  100% {
    transform: translateX(0px); } }

@keyframes mostrarAba {
  0% {
    transform: translateY(1200px); }
  100% {
    transform: translateX(0px); } }

footer {
  margin: 3vw;
  margin-top: 0;
  padding: 1vw;
  padding-top: 0;
  color: blanchedalmond; }
  footer div div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer div div div #divredes a {
      text-decoration: none;
      margin: 0.2vh 0.2vh;
      padding-top: 5vh;
      color: chocolate;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      footer div div div #divredes a img {
        width: 2.5vw;
        height: auto; }
      footer div div div #divredes a p {
        font-size: 2.8vh; }
  footer div div #divtitulofinal {
    padding-top: 4vh; }
  footer div div #divtitulo {
    padding-bottom: 4vh; }

@media only screen and (max-width: 319px) {
  header {
    padding: 0; }
    header div nav a {
      padding-left: 1vw;
      display: inline-block;
      text-decoration: none; }
    header .colorclaro {
      color: #c7c5c1 !important;
      font-family: 'Roboto', sans-serif;
      font-size: 3vw;
      opacity: .7; }
    header .menu {
      position: fixed;
      right: 3.5vw;
      z-index: 10;
      text-align: right;
      transform: rotate(-90deg);
      transform-origin: bottom right; }
  main #sec #section0 #boni92 {
    font-size: 3vw !important; }
  main #sec #section1 {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0; }
    main #sec #section1 #nombreintro #borsari {
      margin: 0 0 0 0vw; }
    main #sec #section1 #videointro {
      transform: scale(0.7); }
  main #sec #section2 {
    padding-top: 0; }
    main #sec #section2 #contenedor2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main #sec #section2 #contenedor2 #presentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main #sec #section2 #contenedor2 #presentacion #divabout p {
          width: 72vw;
          height: auto;
          text-align: justify; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
          font-size: 6vw;
          line-height: 7vw; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
          font-size: 4vw !important; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
          font-size: 4vw !important; }
      main #sec #section2 #contenedor2 #imagen {
        transform: scale(0.8); }
        main #sec #section2 #contenedor2 #imagen img {
          width: 90vw;
          height: 90vw; }
  main #sec #section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #sec #section3 #divproyectos .textos {
      line-height: 4vw !important; }
    main #sec #section3 #divproyectos #proyectouno, main #sec #section3 #divproyectos #proyectodos, main #sec #section3 #divproyectos #proyectotres {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 80vw;
      height: 20vw;
      display: flex;
      justify-content: center;
      align-items: center; }
    main #sec #section3 div .bloquetexto {
      position: unset;
      bottom: 0;
      left: 0;
      text-align: center !important; }
    main #sec #section3 div div #bloque {
      margin-top: 14vw !important; }
      main #sec #section3 div div #bloque span {
        font-family: 'Heebo', sans-serif;
        font-size: 5vw !important;
        text-transform: uppercase;
        font-weight: 800 !important;
        color: black; }
      main #sec #section3 div div #bloque p {
        font-size: 4vw !important;
        padding-top: 1vw;
        font-weight: 600; }
      main #sec #section3 div div #bloque div a {
        padding: 1.5vw 3vw 1.5vw 3vw !important;
        font-size: 2vw !important; }
  main #sec #section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #sec #section4 #divhistoria {
      margin: 0; }
      main #sec #section4 #divhistoria div #boton1, main #sec #section4 #divhistoria div #boton2, main #sec #section4 #divhistoria div #boton3, main #sec #section4 #divhistoria div #boton4, main #sec #section4 #divhistoria div #boton5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      main #sec #section4 #divhistoria div div #libros, main #sec #section4 #divhistoria div div #avion, main #sec #section4 #divhistoria div div #gif {
        transform: translate(0%, 0%) !important; }
    main #sec #section4 p {
      width: 50vw; }
    main #sec #section4 .anchof {
      height: auto; }
    main #sec #section4 .imag {
      height: auto; }
    main #sec #section4 .imag_img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      transform: translate(0%, 0%);
      margin: 10vw 0 0 0; }
    main #sec #section4 .imag_overlay {
      position: relative;
      align-items: center;
      opacity: 1;
      transition-property: unset; }
    main #sec #section4 .imag:hover .imag_overlay {
      transform: translateX(0px);
      opacity: 1; }
    main #sec #section4 .imag_description {
      text-align: center;
      margin: 0; }
  .lineas {
    width: 30%;
    margin: auto;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .lineas::after, .lineas::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 65%;
    top: 50%; }
  .lineas::after {
    left: -28vw; }
  .lineas::before {
    right: -28vw; }
  #forma1::after {
    content: 'Si se puede imaginar, se puede programar';
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 5vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma2::after {
    content: 'Fine...I do it myself';
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 5vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma3::after {
    content: '4 8 15 16 23 42';
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 6vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma4::after {
    content: url(../imgs/benice.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 2s ease-out;
    opacity: 0;
    z-index: 50; }
  footer .textos {
    text-align: center;
    font-size: 6vw; }
  footer div div div #divredes a img {
    width: 10vw;
    height: auto; } }

@media only screen and (min-width: 320px) and (max-width: 634.5px) {
  header {
    padding: 0; }
    header div nav a {
      padding-left: 1vw;
      display: inline-block;
      text-decoration: none; }
  .colorclaro {
    color: #c7c5c1 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    opacity: .7; }
  .menu {
    position: fixed;
    right: 3.5vw;
    z-index: 10;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: bottom right; }
  main #sec #section0 #boni92 {
    font-size: 3vw !important; }
  main #sec #section1 {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0; }
    main #sec #section1 #nombreintro #borsari {
      margin: 0 0 0 0vw; }
    main #sec #section1 #videointro {
      transform: scale(0.7); }
  main #sec #section2 {
    padding-top: 0; }
    main #sec #section2 #contenedor2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main #sec #section2 #contenedor2 #presentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main #sec #section2 #contenedor2 #presentacion #divabout p {
          width: 72vw;
          height: auto;
          text-align: justify;
          margin: auto; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
          font-size: 6vw;
          line-height: 7vw; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
          font-size: 4vw !important; }
        main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
          font-size: 4vw !important; }
        main #sec #section2 #contenedor2 #presentacion #divabout .herramientas {
          width: 100%;
          margin: auto;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scale(0.5) !important; }
          main #sec #section2 #contenedor2 #presentacion #divabout .herramientas img {
            margin-left: 15px; }
      main #sec #section2 #contenedor2 #imagen {
        transform: scale(0.8); }
        main #sec #section2 #contenedor2 #imagen img {
          width: 90vw;
          height: 90vw; }
  main #sec #section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #sec #section3 #divproyectos .textos {
      line-height: 4vw !important;
      position: relative; }
    main #sec #section3 #divproyectos #proyectouno, main #sec #section3 #divproyectos #proyectodos, main #sec #section3 #divproyectos #proyectotres {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 80vw;
      height: 20vw;
      display: flex;
      justify-content: center;
      align-items: center; }
    main #sec #section3 div .bloquetexto {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center !important; }
    main #sec #section3 div div #bloqueuno, main #sec #section3 div div #bloquedos, main #sec #section3 div div #bloquetres {
      padding-top: 15px !important; }
      main #sec #section3 div div #bloqueuno p, main #sec #section3 div div #bloquedos p, main #sec #section3 div div #bloquetres p {
        margin-bottom: 10px !important; }
  main #sec #section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #sec #section4 #divhistoria {
      margin: 0; }
      main #sec #section4 #divhistoria div #boton1, main #sec #section4 #divhistoria div #boton2, main #sec #section4 #divhistoria div #boton3, main #sec #section4 #divhistoria div #boton4, main #sec #section4 #divhistoria div #boton5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      main #sec #section4 #divhistoria div div #libros, main #sec #section4 #divhistoria div div #avion, main #sec #section4 #divhistoria div div #gif {
        transform: translate(0%, 0%) !important; }
    main #sec #section4 p {
      width: 50vw; }
    main #sec #section4 .anchof {
      height: auto; }
    main #sec #section4 .imag {
      height: auto; }
    main #sec #section4 .imag_img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      transform: translate(0%, 0%);
      margin: 10vw 0 0 0; }
    main #sec #section4 .imag_overlay {
      position: relative;
      align-items: center;
      opacity: 1;
      transition-property: unset; }
    main #sec #section4 .imag:hover .imag_overlay {
      transform: translateX(0px);
      opacity: 1; }
    main #sec #section4 .imag_description {
      text-align: center;
      margin: 0; }
  .lineas {
    width: 30%;
    margin: auto;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .lineas::after, .lineas::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 65%;
    top: 50%; }
  .lineas::after {
    left: -28vw; }
  .lineas::before {
    right: -28vw; }
  #forma1::after {
    content: 'Si se puede imaginar, se puede programar';
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 5vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma2::after {
    content: 'Fine...I do it myself';
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 5vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma3::after {
    content: '4 8 15 16 23 42';
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 6vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma4::after {
    content: url(../imgs/benice.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 2s ease-out;
    opacity: 0;
    z-index: 50; }
  footer .textos {
    text-align: center;
    font-size: 6vw; }
  footer div div div #divredes a img {
    width: 10vw;
    height: auto; } }

@media only screen and (min-width: 635px) and (max-width: 768px) {
  header {
    padding: 0; }
    header div nav a {
      padding-left: 1vw;
      display: inline-block;
      text-decoration: none; }
  .colorclaro {
    color: #c7c5c1 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    opacity: .7; }
  .menu {
    position: fixed;
    right: 3.5vw;
    z-index: 10;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: bottom right; }
  main #sec #section1 #nombreintro #borsari {
    margin: 0 0 0 0vw; }
  main #sec #section1 #videointro {
    transform: scale(1); }
  main #sec #section2 #contenedor2 #presentacion {
    transform: translateX(-20vw); }
    main #sec #section2 #contenedor2 #presentacion #divabout {
      padding-left: 2vw; }
      main #sec #section2 #contenedor2 #presentacion #divabout p {
        width: 40vw;
        height: auto; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
        font-size: 3vw;
        line-height: 3.5vw; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
        font-size: 1.8vw !important; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
        font-size: 1.8vw !important; }
  main #sec #section2 #contenedor2 #imagen {
    transform: scale(0.5); }
    main #sec #section2 #contenedor2 #imagen img {
      width: 75vw;
      height: 75vw; }
  main #sec #section3 #divproyectos #proyectouno, main #sec #section3 #divproyectos #proyectodos, main #sec #section3 #divproyectos #proyectotres {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 20vw; }
  main #sec #section3 div {
    line-height: 30px !important; }
    main #sec #section3 div span {
      font-family: 'Heebo', sans-serif;
      font-size: 5vw !important;
      text-transform: uppercase;
      font-weight: 800 !important;
      color: black;
      padding: 0;
      padding-top: 15px !important; }
    main #sec #section3 div p {
      margin: 0;
      padding: 0;
      margin-left: 7px !important; }
    main #sec #section3 div div {
      margin-top: 10px !important; }
      main #sec #section3 div div a {
        font-size: 2vw !important;
        margin: 0;
        padding: 0; }
      main #sec #section3 div div div {
        padding-top: 3px; }
  main #sec #section4 p {
    width: 50vw; }
  .lineas {
    width: 60%;
    margin: auto;
    height: 70px;
    position: relative; }
  .lineas::after, .lineas::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 55%;
    top: 50%; }
  .lineas::after {
    left: -100px; }
  .lineas::before {
    right: -100px; }
  #forma1::after {
    content: 'Si se puede imaginar, se puede programar';
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 3vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma2::after {
    content: 'Fine...I do it myself';
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 3vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma3::after {
    content: '4 8 15 16 23 42';
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 4vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; }
  #forma4::after {
    content: url(../imgs/benice.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 3vw;
    color: chocolate;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 70px;
    text-shadow: .1rem .1rem .1rem #333;
    transition: 2s ease-out;
    opacity: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  main #sec #section1 #nombreintro {
    margin: 0; }
    main #sec #section1 #nombreintro #nicolas p {
      display: inline-block; }
    main #sec #section1 #nombreintro #borsari {
      margin: 0px;
      font-weight: 900; }
      main #sec #section1 #nombreintro #borsari p {
        display: inline-block; }
  main #sec #section1 #videointro {
    transform: scale(1); }
  main #sec #section2 #contenedor2 #presentacion {
    transform: translateX(-10vw); }
    main #sec #section2 #contenedor2 #presentacion #divabout {
      padding-left: 2vw; }
      main #sec #section2 #contenedor2 #presentacion #divabout p {
        width: 45vw;
        height: auto; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
        font-size: 2em; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
        font-size: 1em !important; }
      main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
        font-size: 1em !important; }
  main #sec #section2 #contenedor2 #imagen {
    transform: scale(0.7); }
  main #sec #section3 #divproyectos #proyectouno, main #sec #section3 #divproyectos #proyectodos, main #sec #section3 #divproyectos #proyectotres {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 20vw; }
  main #sec #section3 div {
    line-height: 30px !important; }
    main #sec #section3 div span {
      font-family: 'Heebo', sans-serif;
      font-size: 5vw !important;
      text-transform: uppercase;
      font-weight: 800 !important;
      color: black;
      padding: 0;
      padding-top: 15px !important; }
    main #sec #section3 div p {
      margin: 0;
      padding: 0;
      margin-left: 7px !important; }
    main #sec #section3 div div {
      margin-top: 10px !important; }
      main #sec #section3 div div a {
        font-size: 2vw !important;
        margin: 0;
        padding: 0; }
      main #sec #section3 div div div {
        padding-top: 3px; } }

@media only screen and (min-width: 2560px) {
  main #sec #section0 #boni92 {
    font-size: 2em; }
  main #sec #section1 #videointro {
    transform: scale(2); }
  main #sec #section2 #contenedor2 #presentacion #divabout p {
    width: 45vw;
    height: auto; }
  main #sec #section2 #contenedor2 #presentacion #divabout #parrafo1 {
    color: seagreen;
    font-size: 3em;
    line-height: 5vh; }
  main #sec #section2 #contenedor2 #presentacion #divabout #parrafo2 {
    color: #d8d8d8;
    font-style: none;
    font-size: 2em !important;
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  main #sec #section2 #contenedor2 #presentacion #divabout #parrafo3 {
    color: seagreen;
    font-size: 2em !important;
    font-weight: 200; }
  main #sec #section2 #contenedor2 #imagen {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    z-index: -1;
    transform: scale(1.2); } }

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }
  html body {
    background: radial-gradient(ellipse at bottom, #01395c, #111); }
